<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a ><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>About</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>FAQ</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Get Started</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Videos</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a ><i class="fa fa-angle-double-right"></i>Resources</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Blog</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Casestudy</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>WhitePapers</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>BusinessAssociates</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a ><i class="fa fa-angle-double-right"></i>PrivacyPolicy</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>Terms&Use</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>FAQ</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>PricingDetails</a></li>
          <li><a  title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u><a href="https://www.nationaltransaction.com/">LogOn Corporate</a></u> is a Registered NH of Hemanth, Inc. hemant [a wholly owned subsidiary of  Hemanth.in]</p>
        <p class="h6">&copy All right Reversed.<a class="text-green ml-2"  target="_blank">logon</a></p>
      </div>
    </div>
  </div>
</section>
</body>
</html>
