<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Testing</h1>
        <p>IT's The Only Way to Measure.</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="material-icons">face</div>
                <div class="card-text">About</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="material-icons">chat</div>
                <div class="card-text">About</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="material-icons">face</div>
                <div class="card-text">About</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="material-icons">face</div>
                <div class="card-text">About</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="material-icons">face</div>
                <div class="card-text">About</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-2" style="padding-top: 20px; padding-left: 475px;">
          <div class="col-md-3">
            <a  class="btn btn-success active" role="button" style="background-color: darkslategrey; color:
            whitesmoke; width: 100%;" [routerLink]="['/signup']">SignUp</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1">
          <p>lopem</p>
        </div>
        <div class="col-lg-2">
            <p>dopem</p>
        </div>
      </div>
      <div class="row-2">
        <div class="col-lg-1">
          <p>lofum</p>
        </div>
      </div>
    </div>
</body>
</html>
