<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Testing</h1>
        <p>IT's The Only Way to Measure.</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="material-icons">face</div>
                <div class="card-text">About</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="material-icons">chat</div>
                <div class="card-text">About</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="material-icons">face</div>
                <div class="card-text">About</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="material-icons">face</div>
                <div class="card-text">About</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="material-icons">face</div>
                <div class="card-text">About</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-2" style="padding-top: 20px; padding-left: 475px;">
          <div class="col-md-3">
            <a  class="btn btn-success active" role="button" style="background-color: darkslategrey; color:
            whitesmoke; width: 100%;" [routerLink]="['/signup']">SignUp</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="knowmore">
      <div class="row-1">
        <div class="float-lg-left">
          <div class="col-6">
            <h3>Education</h3>
            <p>The Testing for Edcuational Instituations.</p>
          </div>
        </div>
        <div class="float-lg-right">
          <div class="col-6">
            <h3>Corporates</h3>
            <p>The Testion for Corporates Certificaation</p>
          </div>
        </div>
      </div>
      <div class="row-2">
        <div class="col-6">
          <h3>XXXXXXXXXX</h3>
          <p>xxxyyyyyxzzzzzzzz</p>
        </div>
      </div>
    </div>
    <div class="container">
      <section>
        <h2>Know More ABout US </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>
    </div>
<div class="jumbotron jumbotron-fluid">

</div>
</body>
</html>
