<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="wrapper">
  <nav class="" id="sidebar">
    <div class="sidebar-header">
      <h3>BOARD</h3>
    </div>
    <ul class="list-unstyled components">
      <p>xxxxxxxxx</p>
      <li>
        <a href="">profile</a>
      </li>
      <li>
        <a href="">account</a>
      </li>
      <li>
        <a href="">Responses</a>
      </li>
      <li>
        <a href="">logout</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="#" class="downloadn">download</a>
      </li>
    </ul>
  </nav>
</div>
<div class="jumbotron">
  <div class="card">
    <div class="card-header">
      Responses
    </div>
    <div class="card-body">
      <h4 class="card-title">Written events</h4>
      <p class="card-text">Exam responses</p>
    </div>
  </div>
  <div class="container">
    <button class="btn">
      <span class="badge badge-primary">prepareExam</span>
    </button>
  </div>
</div>

</body>
</html>
