nav{
  background-color: #007b5e;
  color: whitesmoke;
}

.navbar-collapse{

  padding-left: 500px;
}

.navbar-collapse .nav-item{

  padding-left: 30px;
}

a#navbarDropdown.nav-link.dropdown-toggle{
  color: whitesmoke;
}
a#navbar-Dropdown.nav-link.dropdown-toggle{
  color: whitesmoke;
}
a#navbar_Dropdown.nav-link.dropdown-toggle{
  padding-left: 30px;
  color: whitesmoke;
}
