div.container{
  margin-top: 250px;
  margin-bottom: 250px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  width: 50%;
}
div.card-header{
  background-color: #007b5e;
  color: whitesmoke;
  font-size: 28px;
}
div.card-footer{
  background-color: #007b5e;
}
ul.list-unstyled.list-inline.social.text-center{
  alignment: center;
  color: whitesmoke;
  padding-left: 125px;
  font-size: 25px;
  padding-bottom: 2px;
  padding-top: 1px;
}
div.card-header.fa.fa-user::before{
  padding-left: 250px;
}
