<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container">
  <div class="card">
    <div class="card">
      <div class="card-header fa fa-user">
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group">
            <label for="">Admin-email</label>
            <input type="text" name="" id="email-login" class="form-control" placeholder="" aria-describedby="helpId">
          </div>
        </div>
        <div class="form-row" id="passwd">
          <div class="form-group">
            <label for="">Password</label>
            <input type="text" name="" id="psd-login" class="form-control" placeholder="" aria-describedby="helpId">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
