<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="material-icons md-48">accessibility</div>
        <div class="card-subtitle">
          <p>SignUp</p>
        </div>
    </div>
      <form action="" method="post" [formGroup]="formdetails" (ngSubmit)="onsubmit()" name="register">
        <div class="col">
          <div class="form-row">
            <div class="form-group">
              <label for="">FirstName</label>
              <input type="text" name="" id="" class="form-control" formControlName="firstname" placeholder="" aria-describedby="helpId">
              <!--<div *ngIf="name.invalid && (name.di)">-->
              <!--</div>-->
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="">LastName</label>
              <input type="text" name="" id="" class="form-control"formControlName="lastname" placeholder="" aria-describedby="helpId">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="">OrganisationName</label>
              <input type="text" name="" id="" class="form-control"formControlName="orgname" placeholder="" aria-describedby="helpId">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="">email</label>
              <input type="email" class="form-control" formControlName="email" name="" id="" aria-describedby="emailHelpId" placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="">password</label>
              <input type="password" class="form-control" formControlName="pwd" name="" id="" placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="">confirmpassword</label>
              <input type="password" class="form-control" formControlName="cpwd" name="" id="" placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="">DateOfBirth</label>
              <input type="date" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            </div>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="" id="" value="checkedValue"> male
            </label>
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="" id="" value="checkedValue"> female
            </label>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="">Address</label>
              <textarea class="form-control" name="" id="" rows="3"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="" id="" value="checkedValue"> RememberMe
              </label>
            </div>
          </div>
          <div class="form-row" id="button-signup">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>
      </form>
  </div>
</div>
</body>
</html>

