<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/studentdashboard">
</head>
<body>
  <div class="wrapper">
    <nav class="" id="sidebar">
      <div class="sidebar-header">
        <h3>BOARD</h3>
      </div>
      <ul class="list-unstyled components">
        <p>xxxxxxxxx</p>
        <li>
          <a href="">profile</a>
        </li>
        <li>
          <a href="">account</a>
        </li>
        <li>
          <a href="">results</a>
        </li>
        <li>
          <a href="">logout</a>
        </li>
        <li>
          <a href="">About</a>
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <li>
          <a href="#" class="downloadn">download</a>
        </li>
      </ul>
    </nav>
  </div>
<h2 class="display-3">Dashboard</h2>
  <div class="row" id="main-row">
    <div class="col" id="maincol1">
      <div class="container" style="margin-left: 400px">
        <div class="card" style="width: 80%;">
          <div class="card-header" style="text-decoration-style: dotted; text-align: center">
            Updates.
          </div>
          <div class="card-body">
            <h4 class="card-title">UpcomingEvent</h4>
            <p class="card-text">Text-1</p>
            <p class="card-text">Text-2</p>
            <p class="card-text">Text-3</p>
            <p class="card-text">Text-4</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-2" style="padding-top: 15px; margin-left: 370px; width: 72%">
    <div class="col">
      <div class="container">
        <div class="card">
          <div class="card-header" style="text-decoration-style: dotted; text-align: center">
            Updates.
          </div>
          <div class="card-body">
            <h4 class="card-title">Exams</h4>
            <a [routerLink]="['attemptexam']" class="card-text">Test-1</a>
            <p class="card-text">Test-2</p>
            <p class="card-text">Test-3</p>
            <p class="card-text">Test-4</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container" style="margin-left: 370px; padding-top: 20px;">
  <section>
    <h3>Rules</h3>
    <ol>
      <li>
      <p>xxxxxxxxxxxxxxxxxxx</p>
      </li>
      <li>
        <p>xxxxxxxxxxxxxxxxxxx</p>
      </li>
      <li>
        <p>xxxxxxxxxxxxxxxxxxx</p>
      </li>
      <li>
        <p>xxxxxxxxxxxxxxxxxxx</p>
      </li>
      <li>
        <p>xxxxxxxxxxxxxxxxxxx</p>
      </li>
      <li>
        <p>xxxxxxxxxxxxxxxxxxx</p>
      </li>
    </ol>
  </section>
</div>
</body>
</html>
